/* video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  } */
  
  .section-container {
    /* background: url('/src/images/aces.png') center center/cover no-repeat; */
    background-image: url('../images/dark background.jpg');
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    
  }

  .my-image {
    display: block;
    margin-left: fixed;
    margin-right: fixed;
    margin-top: 50px;
    width: 200px; /* Set a fixed width for the image */
    height: 200px; /* Set a fixed height for the image */
    border-radius: 50%; /* This will make the image circular */
    object-fit: cover; /* This will ensure the image covers the whole area without distorting */
    position: absolute;
    
}

.background {
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative
}

.intro-paragraph{
  
  margin-top: 301px;
  margin-left: -950px;
  position: absolute;
  flex: auto;
  font-size: 20px;
}

.typing-animation{
  
  position: relative;
  margin-top: -100000px;  /* adjust as needed */
  
}

.section-btns {
  margin-top: -650px;
}

  